---
export type Props = {
  href: string;
  active?: boolean;
};

const { href, active } = Astro.props;
---

<li class="inline-flex shrink-0">
  <a
    class:list={[
      "duration-200 outline-none min-w-[3rem] text-sm rounded-full px-3 py-2 text-center font-light focus:ring-2 ring-on-background",
      active
        ? "bg-primary text-on-primary hover:bg-primary/90"
        : "bg-transparent text-on-background hover:bg-on-background/20",
    ]}
    href={href}
  >
    <slot />
  </a>
</li>
