---
import Contributions from "../components/Contributions.astro";
import HowIWork from "../components/HowIWork.astro";
import PostsSection from "../components/PostsSection.astro";
import SocialLinks from "../components/SocialLinks.astro";
import ChevronDoubleDown from "../icons/chevron-double-down.astro";
import Layout from "../layouts/Main.astro";
---

<Layout title="Oleksandr Sh." description="UI engineer" image="/og/Alex-V.jpeg">
  <div class="bg-primary text-on-primary flex h-full flex-col justify-between">
    <header class="flex flex-col items-stretch gap-2 p-6 sm:p-8">
      <div class="flex flex-row items-center justify-between gap-4">
        <h1 class="xs:text-4xl text-3xl leading-[1.1em] font-bold md:text-6xl">
          Oleksandr Sh.
        </h1>
        <h2 class="sr-only" aria-hidden="true">Alex Vechy</h2>
      </div>
      <div class="text-xl leading-[1.1em] font-bold sm:text-2xl md:text-3xl">
        Web Engineer
      </div>
    </header>
    <PostsSection />
    <footer class="flex flex-row items-center justify-between p-6 sm:p-8">
      <a
        href="#contributions"
        class="text-md bg-on-background text-on-primary xs:h-14 focus:outline-on-primary flex aspect-square h-12 items-center justify-center gap-2 rounded-full focus:outline-2 focus:outline-offset-0 sm:aspect-auto sm:px-4"
      >
        <span class="hidden sm:inline">More</span>
        <ChevronDoubleDown class="xs:h-5 h-4" aria-hidden="true" />
      </a>
      <SocialLinks class="animate-social md:gap-10" />
    </footer>
  </div>
  <div class="bg-stroke/10 h-px"></div>
  <div
    class="bg-background text-on-background sticky top-0 flex flex-col gap-12 p-8"
  >
    <HowIWork />
    <Contributions />
  </div>
</Layout>
