---
import type { HTMLAttributes } from "astro/types";
export type Props = HTMLAttributes<"h1">;
---

<h1
  class={`group/heading mb-[0.8em] mt-[1.4em] scroll-mt-[40px] text-5xl font-medium [text-wrap:balance]`}
  id={Astro.props.id}
>
  <slot />
  <a
    href={`#${Astro.props.id}`}
    class="-ms-2 inline-block scroll-pt-[100px] px-2 text-[0.8em] opacity-0 transition-all duration-200 focus:translate-x-2 focus:opacity-100 group-hover/heading:translate-x-2 group-hover/heading:opacity-100"
    aria-label="section link"
    title="Section link"
  >
    #
  </a>
</h1>
