---
import type { HTMLAttributes } from "astro/types";
export type Props = HTMLAttributes<"h5">;
---

<h5
  class={`group/heading mb-[0.8em] mt-[1.4em] text-lg font-bold [text-wrap:balance]`}
  id={Astro.props.id}
>
  <slot />
</h5>
