---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"pre"> & {
  source: string;
};

import { ClipboardButton } from "./ClipboardButton";

const { props } = Astro;
console.log(props);
---

<pre
  class:list={[
    "relative overflow-x-auto group/code-wrapper p-4 my-6 text-sm rounded-lg",
    props.class,
  ]}
  {...props}>
  <slot />
  <div class="absolute end-2 top-2 opacity-0  transition-opacity delay-500 group-focus-within/code-wrapper:opacity-100 group-focus-within/code-wrapper:delay-[0s] group-hover/code-wrapper:opacity-100 group-hover/code-wrapper:delay-[0s]">
    <ClipboardButton text={props.source} client:idle />
  </div>
</pre>
