---
import type { HTMLAttributes } from "astro/types";
export type Props = HTMLAttributes<"p">;

const { props } = Astro;
---

<p
  {...props}
  class:list={[
    `my-4 text-base [&:has(+ul,+ol)]:mb-2`,
    "[&:has(>img:only-child)]:mt-6 [&:has(>img:only-child)]:mb-10 [&>img]:mx-auto [&>img]:rounded-lg",
    props.class,
  ]}
>
  <slot />
</p>
