---
import ArrowsInIcon from "../icons/arrows-in.astro";
import ChatBubbleIcon from "../icons/chat-bubble.astro";
import ClockIcon from "../icons/clock.astro";
import MapPinIcon from "../icons/map-pin.astro";
import OfficeBuildingIcon from "../icons/office-building.astro";
import ScalesIcon from "../icons/scales.astro";

type Item = {
  icon:
    | typeof ArrowsInIcon
    | typeof ChatBubbleIcon
    | typeof ClockIcon
    | typeof MapPinIcon
    | typeof OfficeBuildingIcon
    | typeof ScalesIcon;
  label: string;
  secondaryLabel?: string;
};

const items: Array<Item> = [
  {
    label: "I am located in Spain and do not consider relocation",
    secondaryLabel: "CET (UTC+01:00)",
    icon: MapPinIcon,
  },
  {
    label: `I value normalised working hours`,
    secondaryLabel: "9am to 5pm is great",
    icon: ClockIcon,
  },
  {
    label:
      "I really enjoy coming to the office 1-2 times a week to meet like-minded people",
    icon: OfficeBuildingIcon,
  },
  {
    label:
      "Individually, I am most efficient having 2+ hours of uninterrupted time",
    secondaryLabel: "Otherwise, I prefer help others or read Slack channels",
    icon: ArrowsInIcon,
  },
  {
    label: "Always an active member of internal Web Enginering community",
    icon: ChatBubbleIcon,
  },
  {
    label: "Balance is in the core of everything I think and do",
    secondaryLabel: "flexibility ↔ authenticity\ndedication ↔ longevity",
    icon: ScalesIcon,
  },
];
---

<section class="flex flex-col gap-8" aria-labelledby="how-i-work">
  <header class="text-3xl font-medium" id="how-i-work">How I work</header>
  <ul
    class="grid auto-rows-fr gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-[repeat(auto-fill,minmax(18rem,1fr))]"
  >
    {
      items.map((item) => (
        <li class="flex min-h-[10rem] flex-col gap-2 rounded-3xl border-2 border-background bg-on-background/10 p-6 text-on-background lg:aspect-square">
          <p class="whitespace-pre-line text-lg">{item.label}</p>
          {item.secondaryLabel ? (
            <p class="whitespace-pre-line text-base text-on-background/80">
              {item.secondaryLabel}
            </p>
          ) : null}
          <item.icon
            class="mt-auto h-10 w-10 shrink-0 self-end"
            role="presentation"
          />
        </li>
      ))
    }
  </ul>
</section>
