---
import ArrowsInIcon from "../icons/arrows-in.astro";
import ChatBubbleIcon from "../icons/chat-bubble.astro";
import ClockIcon from "../icons/clock.astro";
import MapPinIcon from "../icons/map-pin.astro";
import OfficeBuildingIcon from "../icons/office-building.astro";
import ScalesIcon from "../icons/scales.astro";

type Item = {
  icon:
    | typeof ArrowsInIcon
    | typeof ChatBubbleIcon
    | typeof ClockIcon
    | typeof MapPinIcon
    | typeof OfficeBuildingIcon
    | typeof ScalesIcon;
  label: string;
  secondaryLabel?: string;
};

const items: Array<Item> = [
  {
    label: "I am located in Spain and do not consider relocation",
    secondaryLabel: "CET (UTC+01:00)",
    icon: MapPinIcon,
  },
  {
    label: `I value normalised working hours`,
    secondaryLabel: "9am to 5pm is great",
    icon: ClockIcon,
  },
  {
    label:
      "I really enjoy coming to the office 1-2 times a week to meet like-minded people",
    icon: OfficeBuildingIcon,
  },
  {
    label:
      "Individually, I am most efficient having 2+ hours of uninterrupted time",
    secondaryLabel: "Otherwise, I prefer help others or read Slack channels",
    icon: ArrowsInIcon,
  },
  {
    label: "Balance is in the core of everything I think and do",
    secondaryLabel: "flexibility ↔ authenticity\ndedication ↔ longevity",
    icon: ScalesIcon,
  },
];
---

<section class="flex flex-col gap-8" aria-labelledby="how-i-work">
  <header class="text-3xl font-medium" id="how-i-work">How I work</header>
  <ul
    class="grid grid-cols-[repeat(auto-fill,clamp(15rem,20rem,80vw))] grid-rows-[masonry] gap-4"
  >
    {
      items.map((item) => (
        <li
          class:list={[
            "border-on-background/5 text-on-background w-[] relative z-30 flex w-auto shrink-0 snap-start flex-col gap-2 rounded-3xl border-2 p-6",
            "from-primary/5 to-on-background/5 z-0 bg-gradient-to-b before:absolute before:inset-0 before:block before:rounded-3xl before:content-['']",
          ]}
        >
          <p class="text-lg whitespace-pre-line">{item.label}</p>
          {item.secondaryLabel ? (
            <p class="text-on-background/80 text-base whitespace-pre-line">
              {item.secondaryLabel}
            </p>
          ) : null}
          <item.icon
            class="mt-auto size-10 shrink-0 self-end"
            role="presentation"
          />
        </li>
      ))
    }
  </ul>
</section>
