---
import ArrowUpRightIcon from "../icons/arrow-up-right.astro";

interface Job {
  title: string;
  company: string;
  href: `https://${string}`;
  current?: true;
}
const jobs: Job[] = [
  {
    company: "Skyscanner",
    href: "https://www.skyscanner.net",
    title: "Senior Software Engineer",
    current: true,
  },
  {
    company: "Typeform",
    title: "Senior Frontend Engineer",
    href: "https://www.typeform.com",
  },
  {
    company: "Pipedrive",
    title: "Frontend Engineer",
    href: "https://www.pipedrive.com",
  },
];
---

<section
  class="p-8 sticky top-0 bg-background text-on-background flex flex-col"
  aria-labelledby="contributions"
>
  <header class="text-3xl font-medium" id="contributions">Contributions</header>
  <ul class="list flex flex-row gap-4 overflow-auto flex-nowrap">
    {
      jobs.map(({ href, company, title, current }) => (
        <li>
          <a
            href={href}
            target="_blank"
            rel="noopener noreferrer"
            class:list={[
              "card",
              "flex gap-2 flex-col items-start flex-shrink-0 rounded-xl p-4",
            ]}
          >
            <header class="text-4xl">{company}</header>
            <div class="flex gap-2 flex-wrap">
              <span class="block px-2 py-1 -ml-1 rounded-full text-sm bg-on-background/50">
                {title}
              </span>
              {current ? (
                <span class="block px-2 py-1 -ml-1 rounded-full text-sm bg-on-background/50">
                  Current
                </span>
              ) : null}
            </div>
            <div class="arrow" aria-hidden="true">
              <ArrowUpRightIcon />
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .list {
    --p: theme("spacing.8");
    margin-inline: calc(-1 * var(--p));
    scroll-padding-inline: var(--p);
    scroll-padding-block: var(--p);
    padding: var(--p);
    scroll-snap-type: x mandatory;
  }
  .card {
    --inner-shadow-opacity: 0.2;
    scroll-snap-align: start;
    inline-size: clamp(15rem, 35rem, 80vw);
    block-size: 25rem;
    flex-shrink: 0;
    padding: var(--p);
    box-shadow: 0 0 2px theme("colors.on-primary/var(--inner-shadow-opacity)")
        inset,
      theme("boxShadow.sm"), theme("boxShadow.DEFAULT");
    @apply relative rounded-xl bg-primary text-on-primary;

    &:where(:focus, :hover) {
      --inner-shadow-opacity: 0.4;
      @apply outline-4 outline-stroke;
    }
  }
  .arrow {
    --size: 4rem;
    --gradient-position: 0%;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
    block-size: var(--size);
    inline-size: var(--size);
    position: absolute;
    inset-block-end: var(--p);
    inset-inline-end: var(--p);

    @apply rounded-full;
  }
</style>
