---
import { RichTextItemResponse } from "@notionhq/client/build/src/api-endpoints";

export type Props = {
  text: Array<RichTextItemResponse>;
};

const { text } = Astro.props;
---

<>
  {
    text.map((token) => {
      switch (token.type) {
        case "text": {
          return (
            <span
              class:list={{
                ["font-bold"]: token.annotations.bold,
                ["italic"]: token.annotations.italic,
                ["line-through"]: token.annotations.strikethrough,
                ["underline"]: token.annotations.underline,
                ["font-mono"]: token.annotations.code,
                [`text-${token.annotations.color}`]:
                  token.annotations.color !== "default",
              }}
            >
              {token.text.content}
            </span>
          );
        }
      }
    })
  }
</>
