.share:after {
  content: attr(aria-label);
  inset-block: 15%;
  inset-inline-start: calc(100% + theme(spacing.4));
  pointer-events: none;

  opacity: 0;
  transform: translateY(0.5rem);

  @apply duration-200 ease-out transition-all absolute text-sm whitespace-nowrap p-2 flex items-center justify-center border-2 border-primary/75 bg-primary/20 text-primary rounded-2xl;
}

.share:where(:hover, :focus):after {
  opacity: 1;
  transform: none;

  @apply ease-in;
}
.share[data-copied="true"] .text {
  opacity: 1;
  transform: none;
}
